.about-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #454343;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  font-weight: bold;
}

.about-container .conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-height: 100%;
  overflow: hidden;
}

.about-container h2 {
  color: #ffb326;
  margin: 0;
}

.about-container h3 {
  margin-top: 20px;
  color: #ffb326;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
}

.about-container ul {
  list-style: none;
  padding: 0;
}

.about-container ul li {
  background: gray;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
